.main-content{
    display: flex;
    flex-direction: column;
}

.content{
    flex: 3;
    padding: 1rem;
}

.content article{
    margin-bottom: 2rem;
}

.content img {
    max-width: 90%;
    height: auto;
}

/*  PARA TABLET  */
@media (min-width: 768px) {
    .main-content{
        display: flex;
        flex-direction: row;
    }
}